*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Left-container */
.left-container{
    width: 30vw;
    height: 100vh;
    position: fixed;
    background-color: #034f84;
    border-right: 1px solid white;
    overflow: auto;
}
/* Top-side */
.top-side{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #034f84;
}
.profile-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.user-list{
    display: flex;
    align-items: center;
    list-style: none;
}
.user-list li{
    padding: 3px;
    margin: 0 5px;
}
.user-list li i{
    font-size: 23px;
    color: white;
}

/* Middle side */
.middle-side{
    display: flex;
    width: 100%;
    padding: 10px 15px;
    background-color: #92a8d1;
}
.input-container{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #034f84;
    padding: 3px 7px;
    border-radius: 10px;
}
.input-container i{
    margin-right: 7px;
    color: white;
}
.input-container input{
    outline: none;
    border: none;
    width: 100%;
    margin: 0 3px;
    background-color: #034f84;
}
.middle-side i.status{
    font-size: 20px;
    margin-left: 15px;
    color: white;
}