*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Left-container */
.left-container{
    width: 30vw;
    height: 100vh;
    position: fixed;
    background-color: #034f84;
    border-right: 1px solid white;
    overflow: auto;
}
/* Top-side */
.top-side{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #034f84;
}
.profile-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.user-list{
    display: flex;
    align-items: center;
    list-style: none;
}
.user-list li{
    padding: 3px;
    margin: 0 5px;
}
.user-list li i{
    font-size: 23px;
    color: white;
}

/* Middle side */
.middle-side{
    display: flex;
    width: 100%;
    padding: 10px 15px;
    background-color: #92a8d1;
}
.input-container{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #034f84;
    padding: 3px 7px;
    border-radius: 10px;
}
.input-container i{
    margin-right: 7px;
    color: white;
}
.input-container input{
    outline: none;
    border: none;
    width: 100%;
    margin: 0 3px;
    background-color: #034f84;
}
.middle-side i.status{
    font-size: 20px;
    margin-left: 15px;
    color: white;
}
/* Bottom side */
.bottom-side{
    display: flex;
    width: 100%;
    padding: 0 15px;
    background-color: #034f84;
}
.contacts{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacts li{
    display: flex;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid white;
}
.contacts li .left{
    display: flex;
}
.contacts li .right{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
}
.contacts li .right .top-acc-side{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 5px 2.5px 5px;
    align-items: center;
}
.top-acc-side .name{
    font: bolder normal normal 17px/normal sans-serif;
    color: white;
}
.top-acc-side .last-time-acc-chat{
    font: 300 normal normal 13px/normal monospace;
    color: white;
}
.contacts li .right .bottom-acc-side{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2.5px 5px 5px 5px;
}
.bottom-acc-side .last-chat{
    font: 300 normal normal 13px/normal sans-serif;
    color: white;
}
.bottom-acc-side .unread-chat-number{
    font: 500 normal normal 13px/13px sans-serif;
    background-color: #92a8d1;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

/* Right Side */

.right-container{
    background-color: #92a8d1;
    width: 70vw;
    height: 100vh;
    position: fixed;
    margin-left: 30vw;
} 
/* Contact Nav */
.right-container .contact-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #034f84;
}
.contact-nav .left{
    display: flex;
    align-items: center;
}
.left .contact-description{
    list-style: none;
    padding: 3px;
    margin: 0 3px;
}
.contact-description .name{
    font: bolder normal normal 17px/normal sans-serif;
    margin: 2px 0;
    color: white;
}
.contact-description .last-seen{
    font: 300 normal normal 13px/normal monospace;
    color: white;
    margin: 2px 0;
}
.contact-nav .right {
    display: flex;
    align-items: center;
}
.contact-nav .right .contact-list{
    display: flex;
    list-style: none;
}
.contact-list li{
    padding: 5px;
    margin: 0 3px;
}
.contact-list li i{
    font-size: 25px;
    color: white;
}
/* Chats */
.right-container .chats{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin: 0 10px;
}
.chats .me{
    display: flex;
    align-self: flex-end;
    background-color: white;
    font: normal normal normal 15px/normal sans-serif;
    color: #034f84;
    margin: 5px 0;
    padding: 2.5px 5px;
}
.chats .user{
    display: flex;
    align-self: flex-start;
    margin: 5px 0;
    padding: 2.5px 5px;
    background-color: #034f84;
    color: white;
    font: normal normal normal 15px/normal sans-serif;
}
/* Input To Chat */
.right-container .input-to-chat{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0 7px;
    background-color: #034f84;
}
.input-to-chat i{
    padding: 3px;
    margin: 0 3px;
    color: white;
}
.input-to-chat input{
    outline: none;
    border: none;
    width: 100%;
    background-color: #034f84;
    color: white;
}

@media (max-width: 768px) {
    .left-container{
        width: 100vw;
    }
    .right-container{
        display: none;
    }
}